@import './components/Header/header-cleint.scss';
@import './main.scss';
@import './pages/home.scss';
@import './animation.scss';
@import './pages/sign.scss';
@import './pages/product.scss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';


* {
    scroll-behavior: smooth;
    outline: none;
}

html {
    font-family: 'Public Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(22, 28, 36); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 171, 85); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(1, 128, 64); 
  }

  ::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgb(0, 171, 85); 
  }
  
  ::selection {
    color: white;
    background: rgb(0, 171, 85); 
  }

